/*
 * Override Bootstrap's default container.
 */

body {
    background: #EEEEEE;
!important;
}

/*
 * Masthead for nav
 */

.blog-masthead {
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
}

.admin-masthead {
    background-color: #ca2e33;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
}

/* Nav links */
.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}

.blog-main {

}

.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #fff;
    text-decoration: none;
}

.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}

.blog-description {
    font-size: 20px;
    color: #999;
}

.forumTable {
    border-collapse: collapse;
    width: 600px;
}

.forumTableHeader {
    text-align: left;
    background: none repeat scroll 0 0 #428bca;
    border-bottom: 1px solid #000000;
    color: white;
    padding: 4px;
    font-size: 1.1em;
}

.adminTableHeader {
    text-align: left;
    background: none repeat scroll 0 0 #ca2e33;
    border-bottom: 1px solid #000000;
    color: white;
    padding: 4px;
    font-size: 1.1em;
}

.forumTableOddRow {
    text-align: left;
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 1em;
}

.forumTableEvenRow {
    text-align: left;
    background: none repeat scroll 0 0 #D3D3D3;
    padding: 1em;
}

.forumTable td {
    padding: 0.4em;
}

.forumTopic {
    background: #428bca;
    color: white;
    font-size: 2em;
    padding: 0.1em 0.3em;
    width: 600px;
}

.forumList {
    margin-left: 1.5em;
}

.forumPost {
    margin-bottom: 0.5em;
    width: 600px;
}

.forumHeader {
    background: #428bca;
    color: white;
    padding: 0.1em 0.3em;
    font-size: 0.9em;
}

.forumBody {
    background: white;
    padding: 0.3em;
    min-height:75px;
}

.forumOptions {
    float: right;

}

.forumOptions a {
    color: inherit;
}

